footer {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: rgb(255, 255, 255);
    background-color: #454b54;
}
    .footerTop{
        display: inline-block;
        float: left;

    }
        .footerTopLeft {
            display: inline-block;
            float: left;
        }
            .row .top {
            }
            .link {
                text-decoration: none;
                color: #fff;
                cursor: pointer;
            }
            .link:hover {
                opacity: 1;
            }
        .footerTopRight {
            display: inline-block;
            float: right;
            text-align: right;
        }
            button {
                color: #fff;
                border-radius: 5px;
                line-height: 20px;
                background-color: #000;
                height: 38;
                width: 120;
            }
            .call {
                color: rgb(153, 153, 153);
                font-size: 16px;
            }
            .number {
                font-size: 25px;
                color: #fff;
                text-decoration: none;
            }
            .email {
                color: rgb(153, 153, 153);
                text-decoration: none;
            }

        .footerBottom {
            display: inline-block;
            border-top: 1px solid rgba(255, 255, 255, 0.1);
            padding-top: 25px;
            margin-top: -2px;
            color: rgba(255, 255, 255, 0.7);
            position: relative;
        }
            .copyright {
                display: inline-block;
                float: left;
            }
            .linkOne {
                display: inline-block;
                float: left;
            }
            .linkTwo {
                display: inline-block;
                float: right;
            }
            .fab {
                display: inline-block;
                float: right;
                color: #fff;
                text-decoration: none;
                border: 0.5px solid transparent;
                height: 25px;
                width: 25px;
                font-size: 15px;
                line-height: 25px;
                text-align: center;
                border-radius: 5px;
                cursor: pointer;
                background-color: rgba(196, 196, 196, 0.2);
                position: absolute;
                margin-top: 20px;
                
                
            }
            .fab:hover {
                background-color: rgba(196, 196, 196, 0.579);
            }